{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "arrowParens": "avoid",

  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "plugins": ["@trivago/prettier-plugin-sort-imports"],
        "importOrder": [
          "<THIRD_PARTY_MODULES",
          "^@/(.*)$",
          "^../(.*)",
          "^./(.*)"
        ],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true,
        "importOrderCaseInsensitive": true,
        "importOrderParserPlugins": [
          "classProperties",
          "decorators-legacy",
          "typescript"
        ]
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
