{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["<THIRD_PARTY_MODULES", "^@/(.*)$", "^../(.*)", "^./(.*)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins" : ["classProperties", "decorators-legacy", "typescript"]
}
